/*
#845a6d
#3e1929
#eeebd3
#8d91c7
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
header {
    background: #3e1929;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}
header img {
    margin: 25px;
}
#menu {
    font-size: 1rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 20px;
    left: 20px;
}
#menu::before {
    content: "☰";
}
#menu.open::before {
    content: "X";
}
.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: rgba(59, 9, 26, 0.8);
    color: #fff;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: rgba(30, 77, 99, 0.9);
	color: #fff;
	font-weight: 700;
    border: solid;
}
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: "-> ";
}
#mode {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}
main h2 {
    text-decoration: underline;
    text-align: center;
}
main section {
    text-decoration: none;
    border: solid;
    border-radius: 5%;
    border-style: inset;
    border-color: #fff;
    margin: 5%;
    padding: 5%;
    background-color: rgba(30, 79, 136, 0.3);
}
main section h3 {
    background-color: rgba(59, 9, 26, 0.8);
    color: #fff;
    border: solid;
    border-style: inset;
    border-color: #fff;
    border-radius: 5px;
    padding: 5px;
}
#visits {
	font-weight: bolder;
	font-size: larger;
}
main li a {
    text-decoration: none;
}
.no-bullets {
    list-style: none;
}
main li a:hover {
    text-decoration: underline;
}
.hero {
    position: relative;
}
.hero img {
    width: 100%;
    height: auto;
    margin-top: 10%;
    margin-left: 25%;
    margin-bottom: -25%;
    object-fit: cover;
}
.herolabel {
    position: absolute;
	top: 30%;
	left: 30%;
	background: radial-gradient(#fff, #8d91c7);
	border: 1px solid rgba(0,0,0,.75);
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
    padding: 5px;
    width: 100px;
    height: auto;
}
.herolabel p {
    margin: 0;
	font-weight: 700;
	font-size: 9px;
    color: black;
}
.google-maps {
    text-align: center;
}
.google-maps iframe {
    margin: 0;
    width: auto;
    height: auto;
}
footer {
    background-color: #3e1929;
    color: #fff;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}